<!-- home/templates/home/home.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Welcome to Pay_Django!</h2>
                    <p class="card-text">Explore the awesome features of our platform powered by the Paystack payment system.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Paystack Payment System</h2>
                    <p class="card-text">Our platform leverages the Paystack payment system for secure and reliable online transactions. With Paystack, you can:</p>
                    <ul>
                        <li>Initiate payments securely</li>
                        <li>Verify payments for successful transactions</li>
                        <li>View your wallet balance after successful transactions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Explore Our App</h2>
            <p class="card-text">Feel free to explore other features like creating and viewing your wallet. If you have any questions or concerns, please don't hesitate to contact our support team.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Thank You!</h2>
            <p class="card-text">Thank you for choosing Pay_Django as your trusted platform. We are here to make your online experience seamless and secure.</p>
        </div>
    </div>
{% endblock %}
