{% extends 'base.html' %}

{% block title %}Success{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title" style="color: #0fad00;">Success</h2>
                        {% if message %}
                            <h2 class="card-subtitle mb-4" style="color: #0fad00;">{{ message }}</h2>
                        {% endif %}
        
                        <h3 class="card-text">Dear {{ request.user.username }}</h3>
                        <p class="card-text" style="font-size: 20px; color: #5C5C5C;">Transaction successful</p>
                        
                        <!-- Added "View Wallet" link -->
                        <div class="btn-group mt-3">
                            <a href="{% url 'initiate_payment' %}" class="btn btn-success">Fund Wallet</a>
                            <a href="{% url 'view_wallet' %}" class="btn btn-info">View Wallet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
